<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup" class="relative shadow-xl">
    <img src="/images/flowers_3.svg" alt="" class="absolute -right-16 -top-8 w-24 z-0">
    <img src="/images/flowers_4.svg" alt="" class="absolute -left-20 -bottom-16 w-24 z-0">
    <form action="https://bantingmarketpretoria.us18.list-manage.com/subscribe/post?u=3df78d280787b83aa8e84fc34&amp;id=442304d0e9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate relative z-10 bg-dark-green p-8 " target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
            <div class="indicates-required text-white mb-4"><span class="asterisk">*</span> indicates required</div>
            <div class="mc-field-group mb-4">
                <label for="mce-EMAIL" class="font-serif font-bold text-white">Email Address  <span class="asterisk">*</span>
                </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div class="mc-field-group mb-4">
                <label for="mce-FNAME" class="font-serif font-bold text-white">First Name </label>
                <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
            </div>
            <div class="mc-field-group mb-4">
                <label for="mce-LNAME" class="font-serif font-bold text-white">Last Name </label>
                <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
            </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3df78d280787b83aa8e84fc34_442304d0e9" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button cursor-pointer"></div>
        </div>
    </form>
</div>
<!--End mc_embed_signup-->
