{{ partial:header heading="Apply" teaser="Sell your products" cta_url="" cta_text="Apply now to sell at our market" }}

<div class="prose mx-auto mt-32">
    {{ page_content }}

    <div class="bg-white shadow p-4 rounded-md mb-8">
        <h2 class="mt-0 text-3xl">Market Rules & Application Forms</h2>
        <div class="grid grid-cols-1 gap-4 items-center divide-y divide-grey-40">
            <a href="/documents/application_boeremark.pdf" download="" class="flex gap-2 items-center text-gray-500 p-2" >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
                </svg>
                Download market rules for Pretoria Boeremark (PDF)
            </a>
            <a href="/documents/application_boeremark.docx" download="" class="flex gap-2 items-center text-gray-500 p-2" >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
                </svg>
                Download market rules for Pretoria Boeremark (Word Doc)
            </a>
            <a href="/documents/application_menlyn_maine.pdf" download="" class="flex gap-2 items-center text-gray-500 p-2" >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
                </svg>
                Download market rules for Menlyn Maine (PDF)
            </a>
            <a href="/documents/application_menlyn_maine.docx" download="" class="flex gap-2 items-center text-gray-500 p-2" >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
                </svg>
                Download market rules for Menlyn Maine (Word Doc)
            </a>
        </div>
    </div>
</div>

