{{ partial:header heading="Apply" teaser="Sell your products" cta_url="" cta_text="We're serious about real food" }}

<div class="prose mx-auto mt-32">
    {{ page_content }}

    <div class="bg-white shadow p-4 rounded-md mb-8">
        <h2 class="mt-0 text-3xl">Market Rules</h2>
        <a href="#" download="" class="flex gap-2 items-center text-gray-500" >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
            </svg>
            Download market rules (PDF)
        </a>
        <ul>
            <li>All products must be listed on the application form. Include the ingredients you use to produce your products.
            <li>You may be asked to provide us with samples of your products for approval.
            <li>ONLY banting/keto/low-carb products will be approved, i.e.: sugar free, low carb, healthy fat
            <li>No vegetable oil, no artificial preservatives, no wheat, etc.
            <li>Stallholders are encouraged to specialise in a certain product and not have a table packed with a variety of different types of products. It can be confusing to a customer and might affect your sales.
            <li>All products MUST display ingredients, and if possible the carb content.</li>
        </ul>

        <h3 class="text-red-600">DO NOT APPLY IF YOU SELL:</h3>
        <ul>
            <li>Weight loss products</li>
            <li>Herbalife</li>
            <li>Aloe Ferox with longs lists of ingredients</li>
            <li>Products higher than 30g carbs per 100g</li>
            <li>Fruit juice</li>
            <li>Dried fruit</li>
            <li>If you aren't familiar with the LCHF lifestyle.</li>
            <li>Products with long lists of foreign ingredients</li>
            <li>Skin and body products containing paraffin or unnatural ingredients</li>
            <li>Meal replacement shakes</li>
            <li>Anything that is NOT food-related. We do not sell art and crafts, jewellery,    clothes, toys, etc.</li>
        </ul>

        <h3>1. Application</h3>
        <ul>
            <li>Applications are reviewed by our management team and dietitians.</li>
            <li>It will be expected of each trader to acquaint themselves with the basic guidelines of the Banting, keto or LCHF lifestyle. Do NOT apply if you do not know what the Banting and Keto lifestyles imply.</li>
            <li>All applications are considered in the light of the following factors:
                <ul>
                    <li>How sellable the product is to our visitors</li>
                    <li>Is it Banting and keto friendly</li>
                    <li>To what extent does it overlap and impact other stallholders</li>
                    <li>You will be informed via e-mail if your application was successful or not.</li>
                </ul>
            </li>
        </ul>

        <h3>2. Bookings/Payment</h3>
        <ul>
            <li>The application form is completed only once, you do not have to complete a new form for every market.</li>
            <li>Additions and alterations to your product range MUST be approved by management.</li>
            <li>When you receive an acceptance e-mail, your booking is only secured on payment of required stall fee.</li>
            <li>Stall fees must be paid in advance via electronic transfer, not later than the Monday preceding the market.</li>
            <li>Cash payments on market day must be approved by management at least a week before the market date. An additional admin fee of R50 will be charged on ALL cash payments.</li>
            <li>Once you have been accepted, you have been approved permanently and are expected to attend both markets every month.</li>
        </ul>

        <h3>3. Fees</h3>
        <ul>
            <li>
                <span class="font-bold">3x3m stand</span>
                R300 per Saturday, add R50 for cash payments on the day of the market.
            </li>
            <li>
                <span class="font-bold">3x3m stand + electricity</span>
                R380 per Saturday, add R50 for cash payments on the day of the market. Please bring own extension cord. What type of appliance will you be using?
            </li>
            <li>Fees go towards costs of venue rent, administration, marketing, salaries for workers to set up on market day, security, music entertainment and development of the market.</li>
        </ul>

        <h3>4. Trading time/Setup regulations</h3>
        <ul>
            <li>Market trading hours are from 9am to 2pm.</li>
            <li>Set up from 6am until 8:00am.</li>
            <li>Vehicles may enter the market area and unload directly at your stall area after which the vehicle must then be moved to the designated parking area.</li>
            <li>No entry after 8:00am for traders’ vehicles to offload at the market.</li>
            <li>Vehicle must be unloaded and moved to designated trader parking area before 8:00am.</li>
            <li>Traders arriving after 8:00am must park in the parking area and convey all the contents of their stalls on foot. You will not be allowed to unload directly at your stall.</li>
            <li>No cars allowed behind or near your stall. The market and surrounding area is to be kept car-free to ensure space for the clients.</li>
            <li>Traders who do not adhere to this rule, will receive a warning. A second warning at the next market, can result in losing your place at the market and not be allowed back at the market.</li>
            <li>Your stall must be fully set-up by 8:45am. Be prepared for the early-bird clients even as early as 8am.</li>
            <li>Packing up of stalls is not permitted before 2pm. All stalls must remain until closing time. Stalls must be kept neat and manned at all times</li>
            <li>If you are sold out before 2pm, put up a SOLD OUT sign and leave your table dressed up.</li>
            <li>No cars will be allowed to enter the market area before 2pm.</li>
            <li>Traders shall leave the area at the end of the market the way it was found. Pick up rubbish, waste, packaging, used serviettes, paper, etc surrounding your stall. You are welcome to use the allocated rubbish bins provided by management.</li>
        </ul>

        <h3>5. Your stall</h3>
        <ul>
            <li>The venue layout will be sent to you a few days before the market. Your stall allocation will be clearly marked.</li>
            <li>Spaces are allocated at the sole discretion of the market management and will always be done to best fit the layout, look and feel of the market as a whole. As the market constantly grows, it can sometimes result in a change of your allocated spot. Please do not request shade or a specific space.</li>
            <li>Stallholders shall bring own tables, chairs, gazebos, tablecloths, extension cords, etc. Tables and chairs are NOT available to rent. As we are an indoor market, gazebo's are not compulsory. You are welcome to use a gazebo, though.</li>
            <li>Table cloths must cover the full front of the table. Put boxes and packaging material under the table. Stall must be kept in a clean and tidy condition throughout the market.</li>
            <li>Stallholders may display their products any way they choose, but shall not place goods and gazebos outside their designated areas.</li>
            <li>In the interest of keeping a high standard at our market, the styling and display of your stall at the market is vital. An eye-catching, professional and appealing set-up will draw customers to your stall. Display CLEARLY your stall name and what you sell. Price MUST be displayed.</li>
            <li>Take extra care when using gas to ensure safety of all. Portable fire extinguishers are required. NO open fires are allowed.</li>
            <li>It is advisable to obtain alternative ways, other than cash, to collect payment from customers. Sales may increase if cash is not the only alternative. (Credit card machines/Snapscan/Zapper, etc). All these methods are relatively easy to obtain. Yoco and iKhoka credit card machines charge a small percentage fee per transaction and require no monthly fee.</li>
        </ul>

        <h3>6. Public liability insurance</h3>
        <ul>
            <li>It is each trader’s own responsibility to trade legally and safely at all times.</li>
            <li>Damage and/or injury caused by traders’ products or stall is own responsibility, and we thus advise that traders have their own public liability insurance.</li>
            <li>The Real Food Market management and Brooklyn Mall employees are not responsible for injury or accident caused by your product or exhibit, damage to or theft of your stock/property whilst you are attending our market.</li>
            <li>The trader shall indemnify the market management and Brooklyn Mall from and against any claims, demands, actions, debts, liabilities and attorney’s fees arising out of, claimed on account of, or in any manner predicated upon loss or damage to the property or the injuries or the death of any and all persons whatsoever, in any manner caused or contributed to by the trader or the trader’s employees while in, upon or about the property where in the stall is located, or while going to or departing from the same and to indemnify the market management from and or any account of damages of any kind which they may be suffered as the result of the acts of any of the market contractors, agents, or employees in or about the property the market is at.</li>
        </ul>

        <h3>7. Marketing</h3>
        <ul>
            <li>As with any event, we cannot guarantee visitor numbers, but we will do our utmost to ensure that you have a successful market. Bad weather, load shedding or other interruptions is out of our control.</li>
            <li>We do extensive online marketing, advertising boards and banners are put up every week before the market and sometimes advertise in the printed media.</li>
            <li>We love to share pictures of the market and our traders on our social media pages, but please note that we only share quality pictures that is in line with our look and feel.</li>
            <li>You are required to like all our social media pages (Facebook, Instagram & Twitter) and undertake to like and share our posts on a regular basis.
            <li>Instagram is the social media platform that became extremely popular. Do your business a favour and sign up.</li>
            <li>You agree that we can take photos of your products/stall and that these photos can be shared on our social media pages.</li>
        </ul>

        <h3>8. Cancellation</h3>
        <ul>
            <li>The market will always trade in all weather conditions. Should the market be cancelled in the event of extreme weather conditions, stallholders will receive a 50% credit that will be carried over to the next market date (only carried over once, if this market date not attended credit will be forfeited).</li>
            <li>Stall fees are non-refundable if cancelled at late notice, 5 days prior to market or without a valid reason.</li>
            <li>If you are unable to make it on market day, please let us know via telephone call as early as possible in the morning so that we can fill the space (open stall spaces look unprofessional and negative impact on market).</li>
            <li>If you have not arrived to trade and have also not contacted us to inform what has happened we will assume cancellation and you will not be able to apply again.</li>
        </ul>
    </div>

    <div class="bg-white shadow p-4 rounded-md">
        <h3 class="mt-0">Application Form</h3>
        <p>Please fill in the form with your details, and we will get back to you once we've reviewed your application.</p>
        <form>
            <div class="mb-4">
                <input type="text" id="stallName" name="stallName" required class="mt-1 p-2 w-full border rounded-md">
                <label for="stallName" class="block text-sm font-bold text-gray-700">Stall/Business Name <span class="text-red-700">*</span></label>
            </div>
            <div class="grid grid-cols-2 gap-4">
                <div>
                    <label for="firstName" class="block text-sm font-bold text-gray-700">Name <span class="text-red-700">*</span></label>
                    <input type="text" id="firstName" name="firstName" required class="mt-1 p-2 w-full border rounded-md">
                </div>
                <div>
                    <label for="lastName" class="block text-sm font-bold text-gray-700">Surname <span class="text-red-700">*</span></label>
                    <input type="text" id="lastName" name="lastName" required class="mt-1 p-2 w-full border rounded-md">
                </div>
            </div>
            <div class="mb-4">
                <label for="phoneNumber" class="block text-sm font-bold text-gray-700">Phone Number <span class="text-red-700">*</span></label>
                <input type="tel" id="phoneNumber" name="phoneNumber" required class="mt-1 p-2 w-full border rounded-md">
            </div>
            <div class="mb-4">
                <label for="email" class="block text-sm font-bold text-gray-700">Email Address <span class="text-red-700">*</span></label>
                <input type="email" id="email" name="email" required class="mt-1 p-2 w-full border rounded-md">
            </div>
            <div class="mb-4">
                <label for="website" class="block text-sm font-bold text-gray-700">Website</label>
                <input type="url" id="website" name="website" class="mt-1 p-2 w-full border rounded-md">
            </div>
            <div class="mb-4">
                <label for="facebook" class="block text-sm font-bold text-gray-700">Facebook Page</label>
                <input type="url" id="facebook" name="facebook" class="mt-1 p-2 w-full border rounded-md">
            </div>
            <div class="mb-4">
                <label for="instagram" class="block text-sm font-bold text-gray-700">Instagram Page</label>
                <input type="url" id="instagram" name="instagram" class="mt-1 p-2 w-full border rounded-md">
            </div>
            <div class="mb-4">
                <fieldset class="space-y-2">
                    <legend class="block text-sm font-bold text-gray-700">Do you, the applicant, produce your products? <span class="text-red-700">*</span></legend>
                    <div class="flex flex-col">
                        <label class="inline-flex items-center">
                            <input type="radio" name="productProduction" value="yes" required class="form-radio text-indigo-600">
                            <span class="ml-2">Yes</span>
                        </label>
                        <label class="inline-flex items-center">
                            <input type="radio" name="productProduction" value="no" required class="form-radio text-indigo-600">
                            <span class="ml-2">No</span>
                        </label>
                    </div>
                </fieldset>
            </div>

            <div class="mb-8" x-data="myApp">
                <h4 class="font-bold">Products</h4>
                <div class="grid grid-cols-2 gap-4">
                    <div class="mb-4">
                        <label for="productName" class="block text-sm font-bold text-gray-700">Product Name</label>
                        <input type="text" id="productName" name="productName" class="mt-1 p-2 w-full border rounded-md" required>
                    </div>
                    <div class="mb-4">
                        <label for="productIngredients" class="block text-sm font-bold text-gray-700">Product Ingredients</label>
                        <input type="text" id="productIngredients" name="productIngredients" class="mt-1 p-2 w-full border rounded-md" required>
                    </div>
                </div>
                <span x-on:click="addProductField" class="bg-gray-800 p-2 text-white rounded-md text-xs cursor-pointer">Add another product &plus;</span>
            </div>

            <div class="mb-4">
                <fieldset class="space-y-2">
                    <legend class="block text-sm font-bold text-gray-700">Choose a Stand Option <span class="text-red-700">*</span></legend>
                    <label class="inline-flex items-center">
                        <input type="radio" name="standOption" value="standard" required class="form-radio text-indigo-600">
                        <span class="ml-2">3 × 2.5m stand</span>
                    </label>
                    <label class="inline-flex items-center">
                        <input type="radio" name="standOption" value="electricity" required class="form-radio text-indigo-600">
                        <span class="ml-2">3 × 2.5m stand + electricity</span>
                    </label>
                </fieldset>
            </div>
            <div class="mb-4">
                <label class="inline-flex items-center">
                    <input type="checkbox" name="useGas" class="form-checkbox text-indigo-600">
                    <span class="ml-2">I use gas</span>
                </label>
            </div>
            <div class="mb-4">
                <label class="inline-flex items-center">
                    <input type="checkbox" name="termsAndConditions" required class="form-checkbox text-indigo-600">
                    <span class="ml-2">I have read and understood the terms and conditions <span class="text-red-700">*</span></span>
                </label>
            </div>
            <div class="mt-6">
                <button type="submit" class="bg-dark-green text-white px-4 py-2 rounded-md hover:bg-gray-900 duration-300 transition-all">Submit</button>
            </div>
        </form>
    </div>
</div>

