{{ partial:header heading="Contact us" cta_text="Ask us anything" teaser="It's okay to have questions :)" }}

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-16 my-64">
    {{ cards }}
        <div class="bg-white shadow-xl p-4 flex flex-col justify-start rounded-md">
            <p class="text-sm">{{ small_heading }}</p>
            <p class="font-serif font-bold text-xl uppercase">{{ big_heading }}</p>
            <div class="border border-t-gray-900 w-16"></div>
            <p class="my-4">{{ card_text }}</p>
            <a href="{{ url }}" class="link mt-auto">{{ call_to_action }}</a>
        </div>
    {{ /cards }}
</div>

<div class="my-64">
    <h2 class="text-6xl font-bold text-center mb-8">Our vendors</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-16">
        {{ collection:vendors limit="3" }}
            <div class="bg-white shadow rounded-md flex flex-col items-center p-4">
                <img src="{{ glide :src="vendor_logo" width="200" height="100" }}" alt="{{ vendor_logo:alt }}" />
                <p class="font-din-bold text-2xl text-center mt-4">{{ title }}</p>
                <div class="mt-4 text-center">{{ description }}</div>
                {{ if website }}
                    <a href="{{ website }}" target="_blank" class="link mt-auto">Visit website</a>
                {{ /if }}
            </div>
        {{ /collection:vendors }}
    </div>

    <div class="flex flex-col md:flex-row items-center mt-16 justify-center gap-8">
        <a href="/apply" class="button">Apply to sell at the market</a>
        <a href="/vendors" class="link">View all vendors</a>
    </div>

    <div class="flex flex-col items-center mt-32 gap-8">
        <p class="text-center uppercase tracking-widest">Stay up to date</p>
        <h2 class="text-6xl font-bold text-center">Newsletter</h2>
        {{ partial:newsletter }}
    </div>
</div>
