<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }} &mdash; {{ site:name }}</title>
        <meta name="description" content="Pretoria Banting Market, every first Saturday of the month at Brooklyn Mall in Pretoria.">
        {{ vite src="resources/css/app.css" }}
    </head>
    <body class="relative">
        <main class="p-4">
            <nav>
                <div class="container mx-auto flex items-center justify-between relative">
                    <img src="{{ brand:logo }}" alt="{{ brand:logo:alt }}" class="w-24 mr-6">
                    <!-- Desktop Nav -->
                    <ul class="hidden md:flex justify-self-end gap-4">
                        {{ nav handle="main_nav" include_home="true" }}
                        <li>
                            <a href="{{ url }}"{{ if is_current  }} class="current"{{ /if }}>
                                {{ title }}
                            </a>
                        </li>
                        {{ /nav }}
                    </ul>
                    <!-- Mobile Nav -->
                    <div x-data="{ open: false }" class="absolute top-0 right-0 w-full flex justify-end">
                        <button class="button md:hidden relative z-50 fixed" @click="open = ! open">
                            <span x-show="open">&times;</span>
                            <span x-show="!open">Menu</span>
                        </button>
                        <div x-show="open" x-transition class="bg-gray-800 bg-opacity-95 rounded-md absolute top-0 z-40 w-full p-8">
                            <ul class="flex flex-col justify-self-end gap-4 text-center">
                                {{ nav handle="main_nav" include_home="true" }}
                                    <li class="text-white text-2xl my-2 font-sans">
                                        <a
                                            href="{{ url }}"
                                            {{ if is_current || is_parent }} class="current"{{ /if }}
                                        >
                                            {{ title }}
                                        </a>
                                    </li>
                                {{ /nav }}
                            </ul>
                        </div>
                    </div>

                </div>
            </nav>
            <div class="container max-w-screen-xl mx-auto">
                {{ template_content }}
            </div>
        </main>
        <footer class="bg-gray-900 p-8">
            <div class="container max-w-screen-xl mx-auto text-center ">
                <p class="text-white text-xl mb-8">Join us at Brooklyn Mall for the highest quality banting, keto and all kinds of LCHF foods. Gluten-free, wheat-free and sugar-free!</p>
                <p class="text-white text sm">Brooklyn Mall is the new home for the Pretoria Banting Market, every first Saturday of the month.</p>
                <div class="flex flex-col md:flex-row my-4 justify-center border-b border-white py-6">
                    {{ nav handle="main_nav" include_home="true" }}
                        <a href="{{ url }}" class="text-white transition-opacity duration-300 hover:opacity-60">
                            {{ title }}
                            {{ if count < 7 }}
                            <span class="text-white mx-4 hidden md:inline">&mdash;</span>
                            {{ /if }}
                        </a>
                    {{  /nav }}
                </div>
                <div class="flex justify-center md:justify-between flex-col md:flex-row">
                    <div class="flex gap-4 justify-center md:justify-start">
                        <a href="https://www.facebook.com/bantingmarketpretoria123/" target="_blank">
                            <img src="/images/facebook_icon.svg" alt="Facebook Icon">
                        </a>
                        <a href="https://www.instagram.com/bantingmarketpretoria/" target="_blank">
                            <img src="/images/instagram_icon.svg" alt="Instagram Icon">
                        </a>
                    </div>
                    <div class="mt-4 md:mt-0 md:text-right">
                        <p class="text-white text-xs">Copyright © {{ date format="Y" }} Brooklyn's Banting Market.</p>
                        <p class="text-white text-xs">Design & build by <a href="https://chilldsgn.com" target="_blank">CHD</a></p>
                    </div>
                </div>
            </div>
        </footer>
        {{ livewire:scripts }}
        {{ vite src='resources/js/app.js' }}
    </body>
</html>
