@import url(https://fonts.bunny.net/css?family=old-standard-tt:400,700);

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: din_bold;
    src: url(../fonts/urwdin-bold.ttf) format("truetype");
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: din_regular;
    src: url(../fonts/urwdin-regular.ttf) format("truetype");
    font-weight: 400;
    font-style: regular;
}

* {
    font-size: 18px;
}

body {
    background-image: url('/images/bg_blob.svg');
    background-repeat: repeat-y;
    background-size: cover;
}

h1, h2 {
    font-family: 'Old Standard TT', serif;
}

p {
    font-family: 'din_regular', sans-serif;
}

.link {
    @apply text-dark-green font-bold;
}

.link-white {
    @apply text-white;
}

.link::after {
     content: "\2192";
     margin-left: 0.25rem;
     transition: all .2s ease-in;
 }

.link:hover::after {
    margin-left: 0.5rem;
}

.link-back {
    @apply text-dark-green font-bold;
}

.link-back::before {
    content: "\2190";
    margin-left: 0.25rem;
    transition: all .2s ease-in;
}

.link-back:hover::before {
    margin-right: 0.5rem;
}

.link-white {
    @apply text-white;
}

.button {
    @apply bg-gray-800 p-4 text-white rounded-md font-din-bold text-xl transition-shadow duration-300 shadow-xl hover:shadow-none;
}

.current {
    @apply font-din-bold;
}

.mc-field-group {
    @apply flex flex-col;
}

.mc-field-group input {
    @apply p-2;
}

.recipe-content div h2 strong {
    @apply text-5xl;
}

footer {
    background-image: url('/images/flowers_footer.svg');
    background-repeat: no-repeat;
    background-position: center;
}

#cf_web {
    @apply opacity-0 overflow-hidden h-0 m-0;
}

.inline-error {
    @apply text-red-500 font-bold;
}

.bg-market-card {
    @apply h-96 bg-center shadow-xl rounded-md overflow-hidden;
}

.bg-market-card > div {
    @apply bg-black/40 bg-blend-multiply p-4 h-full text-white flex flex-col justify-end;
}


.bg-boeremark {
    background-image: url('/images/boeremark.jpg');
}

.bg-menlyn-maine {
    background-image: url('/images/menlyn-maine.jpg');
}

