{{ partial:header heading="Recipes" teaser="Delicious low carb recipes" cta_url="" cta_text="Healthy doesn't have to be bland" }}

<div class="grid grid-cols-1 md:grid-cols-3 gap-16 mt-32">
    {{ collection:recipes }}
    <div class="bg-white shadow rounded-md overflow-hidden">
        <img src="{{ glide :src="image" width="600" height="300" }}" alt="{{ image:alt }}" />
        <div class="flex flex-col items-center p-4">
            <p class="font-din-bold text-2xl text-center mt-4">{{ title }}</p>
            <a href="recipes/{{ slug }}" class="link">Let's cook!</a>
        </div>
    </div>
    {{ /collection:recipes }}
</div>
